<div class="mat-dialog">
	<mat-dialog-actions>
		<button mat-button mat-dialog-close>Cancel</button>
		<h2 mat-dialog-title *ngIf="contactData;else default">{{contactData.firstName}} {{contactData.lastName}}</h2>
		<ng-template #default>
			<h2 mat-dialog-title>New Contact</h2>
		</ng-template>
		<button mat-button [mat-dialog-close]="contactForm.value" color="primary" cdkFocusInitial [disabled]="contactForm.invalid">Save</button>
	</mat-dialog-actions>
	<mat-dialog-content class="mat-typography">
		<form class="contact-form" [formGroup]="contactForm">
			<mat-form-field class="contact-full-width">
				<mat-label>First Name</mat-label>
				<input matInput placeholder="Ex. John" name="firstName" formControlName="firstName">
				<mat-error *ngIf="firstName.touched && firstName.hasError('required')">
					First Name is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="contact-full-width">
				<mat-label>Last Name</mat-label>
				<input matInput placeholder="Ex. Doe" name="lastName" formControlName="lastName">
				<mat-error *ngIf="lastName.hasError('required')">
					Last Name is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="contact-full-width">
				<mat-label>Company</mat-label>
				<input matInput placeholder="Ex. Google" name="company" formControlName="company">
  </mat-form-field>
				<button (click)="addPhone()" color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>add_circle</mat-icon>
        add phone
      </button>
				<div formArrayName="phones">
					<div *ngFor="let phone of phones.controls; let i=index">
						<div [formGroupName]="i" class="dynamic-add-box animate__animated animate__fadeInDown">
							<button mat-icon-button color="accent" (click)="removePhone(i)"><mat-icon>remove_circle</mat-icon></button>
							<mat-form-field class="contact-full-width" appearance="fill">
								<mat-label>Phone Number</mat-label>
								<input matInput placeholder="Ex. 123456789" type="tel" name="phone" formControlName="phone">
								<mat-error
									*ngIf="getControl(i,'phones','phone').hasError('pattern') && !getControl(i,'phones','phone').hasError('required')">
									Please enter a valid phone number
								</mat-error>
								<mat-error
									*ngIf="getControl(i,'phones','phone').touched && getControl(i,'phones','phone').hasError('required')">
									Phone Number is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>
				<mat-divider></mat-divider>
				<button (click)="addEmail()" color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>add_circle</mat-icon>
        add email
      </button>
				<div formArrayName="emails">
					<div *ngFor="let email of emails.controls; let i=index">
						<div [formGroupName]="i" class="dynamic-add-box animate__animated animate__fadeInDown">
							<button mat-icon-button color="accent" (click)="removeEmail(i)"><mat-icon>remove_circle</mat-icon></button>
							<mat-form-field class="contact-full-width">
								<mat-label>Email</mat-label>
								<input matInput placeholder="Ex. janedoe@example.com" name="email" formControlName="email">
								<mat-error
									*ngIf="getControl(i,'emails','email').hasError('email') && !getControl(i,'emails','email').hasError('required')">
									Please enter a valid email address
								</mat-error>
								<mat-error
									*ngIf="getControl(i,'emails','email').touched && getControl(i,'emails','email').hasError('required')">
									Email is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>
				<mat-divider></mat-divider>
				<button (click)="addUrl()" color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>add_circle</mat-icon>
        add url
      </button>
				<div formArrayName="urls">
					<div *ngFor="let url of urls.controls; let i=index">
						<div [formGroupName]="i" class="dynamic-add-box animate__animated animate__fadeInDown">
							<button mat-icon-button color="accent" (click)="removeUrl(i)"><mat-icon>remove_circle</mat-icon></button>
							<mat-form-field class="contact-full-width">
								<mat-label>URL</mat-label>
								<input matInput placeholder="Ex. 123456789" name="url" formControlName="url">
								<mat-error
									*ngIf="getControl(i,'urls','url').hasError('pattern') && !getControl(i,'urls','url').hasError('required')">
									Please enter a valid url
								</mat-error>
								<mat-error
									*ngIf="getControl(i,'urls','url').touched && getControl(i,'urls','url').hasError('required')">
									URL is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>
				<mat-divider></mat-divider>
				<button color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>add_circle</mat-icon>
        add address
      </button>
				<mat-divider></mat-divider>
				<button color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>add_circle</mat-icon>
        add birthday
      </button>
				<mat-divider></mat-divider>
				<button color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>add_circle</mat-icon>
        add related name
      </button>
				<mat-divider></mat-divider>
				<button color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>add_circle</mat-icon>
        add social profile
      </button>
				<mat-divider></mat-divider>
				<button color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>add_circle</mat-icon>
        add instant message
      </button>
				<mat-divider></mat-divider>
				<mat-form-field class="contact-full-width">
					<mat-label>Notes</mat-label>
					<textarea matInput placeholder="Ex. It makes me feel..." name="notes" formControlName="notes"></textarea>
				</mat-form-field>
		</form>
	</mat-dialog-content>
</div>